
h2{
    font-family: 'Roboto', sans-serif;
    border: 5px solid rgb(168, 221, 23);
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    
    
}

h2.center{
  text-align: center;
}

section {
    width: 30px;
    border: 15px solid gold;
    padding: 20px;
    margin: 20px;
  }


  .lista{
    font-weight: bold;
    color: brown
  }

  img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}